<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
        <link rel="stylesheet" href="/css/home.css">
    </head>
    <body>
        <div id="heading">
        <h1>TODO app<h1>
        </div>
        <hr>
        <div id="description" class="margin10">
            
            <form  action="/create-task"  method="POST">
                <div id="d1">
                   <lablel for="des1" style="color: slategray">DESCRIPTION</lablel>
                </div>
                <div id="d2">
                   <input type="text" name="name" id="des1" placeholder="what do you need to do?" required>
                </div>
            
        </div>
        <hr>
        <div id="category" class="margin10">
            <div>
            <div id="c1">CATEGORY</div>
            <div>
            
            <select name="category" id="sel-tag"   required>
                <option >Choose a Category</option>
                <option value="Personal">Personal</option>
                <option value="Work" >Work</option>
                <option value="School">School</option>
                <option value="Cleaning">Cleaning</option>
                <option value="Other">Other</option>
            </select>
        
            </div>
        </div>
    
    
            <div class="divider"></div>
            
            <div id="pick-up-date">
                <div id="due-date">
                    <span>DUE DATE</span>
                </div>
                
                <input type="date" name="date"  value="2019-01-01"  >

            </div>    
        </div>
        <hr>
        <div class="margin32" id="btn">
            <div id="btn1">
            
                <button type="submit" id="add-btn" >
                
                    <i class="fas fa-plus"></i>
                    <span >ADD TASK</span>
            
                </button>

            
            </div>
        </form>
       
            <div id="btn2">
           
            <button id="del-btn"  form="form-des" type="submit" >
                    <i class="far fa-trash-alt"></i>
                     <span>DELETE TASK</span>

            </button>
        </div>
    
        </div>
        <hr>
        <ul >
            <% for(let i of task_list) { %>

                <li class="margin10">
                    <form action="/delete-task/?id=<%= i._id %>" id="form-des" method="POST">
                       
                    <label for="id1">
                        <div id="name-category" >
                            
                           <div id="name-word"><%= i.name %></div>
                             
                            
                           
                           <div id="category-word">
                               <div>
                                   <span>
                                   <%= i.category %>
                                   </span>
                                </div>
                            </div>
                           
                        </div>
                        <div id="date-calender">
                            <div id="calender-pic">
                        <i class="far fa-calendar-alt"></i>
                        </div>
                        
                        <div id="deadline">
                            <%= i.date %>
                        </div>
                        </div>
                    </label>
                    <input type="checkbox"  id="id1"> 
                    <hr >
                </li>
            <% } %>
        </ul>
    </form>
        <script type="text/javascript" src="/js/home.js"></script>
    </body>
</html>